#div_main_convocatoria{
	position: static;
	display: inline;
	background: none repeat scroll 0% 0% rgba(120, 120, 120, 0.07);
	margin-top: 1.2em;
	display: inline-block;
	position: static;
	border-radius: 8px;
	width: 94%;
	height: 76%;
	margin-left: 3%;
	margin-bottom: 3%;
}

.div_convocatoria{
	display: block;
	width: 90%;
	height: 25%;
	margin-left: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-top-width: 3px;
	border-top-color: #F5F5F5;
	border-top-style: groove;
}

.div_convocatoria:hover{
	border-top-color: #CECED0;;
}

.div_encabezado{
	display: inline-block;
	width: 100%;
	height: 60%;
}

.div_encabecado_izq{
	float: left;
	width: 10%;
	height: 100%;
}

.div_encabezado_der{
	float: right;
	width: 90%;
	height: 4em;
}

.div_contenido_convocatoria{
	position: static;
	width: 100%;
	height: 40%;
	/*background: #CECED0;*/
}

/*modificaciones a divs contenidos en div_encabezado*/

.img_convocatoria{
	height: 18%;
	width: 100%;
}

.label_titulo_convocatoria{
	width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 2px;
	margin-left: 4%;
}

.texto_titulo{
	font-size: 20px;
	margin-top: 1.2em;
	color: #15C;
	font-weight: bold;
}

.texto_titulo:hover{
	text-decoration: underline;
}

/*modificaciones a div contenidos en div_contenido_noticias*/

.label_contenido_convocatoria{
	display: block;
	width: 100%;
	height: 5em;
	overflow: hidden;
}

.texto_contenido_convocatoria{
	margin-top: 4px;
}


