/*DIV principales, contenedore principales*/
#main_div_perfil{
	background: none repeat scroll 0% 0% rgba(120, 120, 120, 0.07);
	margin-top: 1.2em;
	display: inline-block;
	position: static;
	border-radius: 8px;
	width: 100%;
	height: 76%;
}

.div_izquierdo_perfil{
	float: left;
	width: 60%;
	margin-top: 1.2%;
	margin-left: 1%;
	border-radius: 8px;
}

.div_derecho_perfil{
	margin-right: 1%;
	margin-top: 1.2%;
	float: right;
	width: 36%;
	height: 60%;
	overflow: scroll;
	border-radius: 8px;
	background: #CECED0;
}

.div_izquierdo_perfil, .div_derecho_perfil{
	display: inherit;
	position: inherit;
}

/*Contenedor Izquierdo*/

.div_contenedor_info_usr{
	display: table;
	width: 100%;
	border-bottom-right-radius: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background: #CECED0;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-color: black;
	border-top-style: groove;
	border-bottom-style: groove;
}

.div_contenedor_info_usr:hover{
	border-style: groove;
	border-color: #F5F5F5;
}

.div_col1{
	display: table-column;
	float: left;
	width: 20%;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.div_col2{
	display: table-column;
	float: left;
	width: 66%;
	margin-left: 2%;
}

.div_col3{
	display: table-column;
	float: left;
	width: 10%;
	margin-top: 8%;
}

.div_row{
	display: table-row;
	width: 40%;
}

.in_div_izquierdo{
	width: 100%;
	height: 100%;
}

.izquierdo{
	display: block;
	float: inherit;
}

.img_perfil{
	margin-left: 1%;
	margin-top: 0.7%;
	height: 46%;
	width: 100%;
}

.nombre_usr{
	margin-left: 1%;
	margin-bottom: 1px;
}

.carrera_usr{
	margin-left: 0%;
}

.text_nombre{
	margin-top: 30px;
}

.text_carrera{
	margin-top: -10px;
}

.bttn_agregar_usr{
	height: 80%;
	width: 80%;
	border-radius: 8px;
	background: transparent;
}

.bttn_agregar_usr:hover{
	background: rgba(120, 120, 132, 0.14);
	/*border-style: groove;
	border-color: #F5F5F5;*/
}

/*Contenedor derecho*/

.in_div_derecho{
	display: inline;
	float: right;
	width: 100%;
	max-height: 100%;
}

#label_contactos{
	text-align: center;
	font-size: 1.2em;
	font-family: Calibri;
	width: 100%;
}

.div_contacto{
	width: 94%;
	margin-left: 3%;
	border-radius: 8px;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	/*background: #5A758D;*/
	background: linear-gradient(to bottom, #FFF 0%, #FEFEFE 24%, #F7F7F7 36%, #DADADA 73%, #D6D6D6 82%, #D6D6D6 100%) repeat scroll 0% 0% transparent;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #FFF 0%, #FEFEFE 24%, #F7F7F7 36%, #DADADA 73%, #D6D6D6 82%, #D6D6D6 100%);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;

    box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.46);
}

.div_contacto:hover{
	background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6 0%, #d7d7d7 24%, #dedede 36%, #fbfbfb 73%, #ffffff 82%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(24%,#d7d7d7), color-stop(36%,#dedede), color-stop(73%,#fbfbfb), color-stop(82%,#ffffff), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #d6d6d6 0%,#d7d7d7 24%,#dedede 36%,#fbfbfb 73%,#ffffff 82%,#ffffff 100%);
    background: -o-linear-gradient(top, #d6d6d6 0%,#d7d7d7 24%,#dedede 36%,#fbfbfb 73%,#ffffff 82%,#ffffff 100%);
    background: -ms-linear-gradient(top, #d6d6d6 0%,#d7d7d7 24%,#dedede 36%,#fbfbfb 73%,#ffffff 82%,#ffffff 100%);
    background: linear-gradient(to bottom, #d6d6d6 0%,#d7d7d7 24%,#dedede 36%,#fbfbfb 73%,#ffffff 82%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 );
    -webkit-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.21);
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.42);
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.42);
}

.imagen_contacto{
	margin-top: 0.5em;
	margin-left: 0.7em;
	height: 13%;
	width: 12%;
}

.nombre_contacto{
	font-family: Calibri;
	font-size: 1em;
	top: 40%;
}

/*Contenedor para informacion del usuario*/




